<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const stream_socket = io();

        stream_socket.emit("joinRoom");

        stream_socket.on("success", (res) => console.log(res));
        
    </script>    
</body>
</html>
